*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  box-sizing: border-box; }

fieldset {
  border: 0; }

body {
  font-family: 'Oswald', 'sans-serif';
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
  background-color: #484d5c; }

.header {
  text-align: center;
  padding: 20px;
  color: #ffce00;
  text-transform: uppercase; }

.wrapper {
  padding: 30px, 20px, 0px, 20px; }
