.btn {
    border: none;
    background-color: $color-red-dark;
    border-radius: 25px;
    color: $color-white;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }