.card {
    background-color: $color-white;
    border-radius: 5px;
    border-width: 1px;
    color: $color-primary;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
  }